!!!
%html
  %head
    %title SnailTracker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %p.bg-danger
      = flash[:error]
    %p.bg-success
      = flash[:success]
    %p.bg-info
      = notice
    %p.bg-warning
      = alert
    .row
      .col-sm-8.col-sm-offset-2
        = yield
      .col-sm-2
